.whoops{
    #width: 100vw;
    #height: 100vh;
}

.heroImage{
    position: relative;
    height: 800px;
    overflow: hidden;
    background: url("../../Images/bg_gif.gif") no-repeat center;
    background-size: cover;
}

.heroText{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;

}

.heroText h1{
    font-size: 50px;
    letter-spacing: 0.2em;
    margin: 0;

}

.heroText h1 span{
    border: 10px solid #fff;
    padding: 6px 14px;
    display: inline-block;
}

.lowerText{
    margin: 20px;
    display: block;
    font-size: 26px;
    text-shadow: 0 0 10px #000;
}

.heroButton{
    color: #fff;
    background-color: #6951FF;
    padding: 10px 24px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s all;
    border: none;
    outline: 0;

}

.heroButton:hover{
    opacity: 0.4;
}

.sectionContainer{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.sectionOne{
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sectionOne h3{
    font-size: 26px;
    text-shadow: 0 0 10px #000;
    color: #fff;
    text-transform: uppercase;
}



.sectionTwo{
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sectionTwo h3{
    font-size: 26px;
    text-shadow: 0 0 10px #000;
    color: #fff;
    text-transform: uppercase;
}


@media screen and (max-width: 990px){
    .sectionContainer{
        display: inline-block;
        position: relative;
    }
}