.memberCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.descriptionContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px;

}
.description{
    flex-basis: 50%;

}
.unique{
    flex-basis: 50%;

}
.description h2{
    color: #1BBAFF;
}

.unique h2{
    color: #1BBAFF;

}

.unique p{
    color: #fff;
}

.description p{
    color: #fff;
}

.projectLinks a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.icon{
    color: #1BBAFF;
    margin-right: 5px;
}