.votingContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.voteSections{
    background-color: #203079;
    padding: 2em 2em 2em 2em;
    display: flex;
    box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
    border-radius: 25px;
    max-width: 1200px;
}

.rightTab{
    display: flex;
    flex: 70%;
    padding: 10px;
}

.leftTab{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 30%;
    padding: 10px;

}
.voteOptions{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 300px;
}


.voteOptions label{
    margin-right: 5px;
    font-size: 18px;
    font-weight: 500;
}
.title{
    flex-basis: 50%;
    display: block;
}

.title input{
    background-color: #1F3079;
    border: 2px solid #4440bc ;
    border-radius: 10px;
    color: #fff;
}

.desc{
    flex-basis: 50%;
}

.desc input{
    background-color: #1F3079;
    border: 2px solid #4440bc ;
    border-radius: 10px;
    color: #fff;
}

.anonToggle{
    flex-basis: 100%;
}

.anonToggle switch{
    margin-top: 5px;
}

.scheduleStart{
    flex-basis: 50%;
}
.scheduleStart input{
    background-color: #1F3079;
    border: 2px solid #4440bc ;
    border-radius: 10px;
    color: #fff;
}


.scheduleEnd{
    flex-basis: 50%;
}

.scheduleEnd input{
    background-color: #1F3079;
    border: 2px solid #4440bc ;
    border-radius: 10px;
    color: #fff;
}

.createVote{
    flex-basis: 100%;
    align-items: baseline;
}

.createVote input{
    background-color: #6951FF;
    color: #fff;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
}


.leftTab img{
    width: 200px;
    height: 200px;
}

.createOptions h3{
    color: #fff;

}

.createOptionsInput{
    background-color: #1F3079;
    border: 2px solid #4440bc ;
    border-radius: 10px;
    color: #fff;
}

.createOptionsButton{
    background-color: #1BBAFf;
    color: #fff;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    margin-left: 10px;
}

@media screen and (max-width: 990px){
    .voteSections{
        display: inline-block;
        position: relative;
    }
}