.voteContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.voteSections{
    background-color: #203079;
    padding: 2em 2em 2em 2em;
    box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
    border-radius: 25px;
    width: auto;
    flex-direction: column;
}


.voteSections h3{
    font-weight: 500;
    color: #1BBAFf;
    text-transform: uppercase;
}

.voteSections h4{
    color: #fff;
}

.voteSections p{
    color: #fff;
}

.optionList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.voteOption{
    background-color: #1BBAFf;
    display: flex;
    box-sizing: border-box;
    height: 200px;
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.voteOption p{
    color: #6951FF;
}


.voteOption:hover{
    background-color: orange;
}

.castVote button{
    color: #fff;
    margin-top: 10px;
    background-color: green;
    border-radius: 8px;
    padding: 8px 16px;
    margin-bottom: 20px;
    cursor: pointer;
}

.castVote button:hover{
    opacity: 0.2;
}

.pollInfo{
    border-top: 2px solid #fff;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.organiser{
    margin-top:10px;
    flex-direction: row;
}

.organiser p{
    font-size: 18px;
}

.pollDesc p{
    font-size: 18px;
    color: #6951FF;
}

.optionCaption{
    font-weight: 600;
    text-transform: uppercase;
    color: #6951FF;
}

.optionNumber{
    color: #6951FF;
    font-weight: 600;
}

