.bioTab textarea{
    max-height: 200px;
    max-width: 300px;
}
.bioTab input[type=submit]{
    border-radius: 8px;
    padding: 3px;
}

.tabHeading{
    color: #fff;
}

.editBio{
    color: #fff;
    padding: 4px 8px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #1BBAFf;
}