.profileContainer{
    display: flex;
    justify-content: center;
}

.profileCard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width: 1000px;
    padding: 2em 2em 3em;


}

.right{
    flex-direction: column;
    background-color: #203079;
    height: 500px;
    display: flex;
    align-items: center;
    flex: 50%;
    margin: 0;
    border-radius: 25px;
    border: 2px solid #02b9d2;
}

.left{
    flex-direction: column;
    background-color: #203079;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
    padding: 10px;
    border-radius: 25px;
}


.profileName{
    color: #fff;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
}

.profileEmail{
    color: #fff;
}
.profileConnectedAccounts{
    padding: 10px;
    display: flex;
    align-content: center;
    margin-right: 100px;
    flex-direction: column;
    color:#02b9d2;
}

.twitterIcon{
    margin-bottom: 5px;
}

.gitIcon{
    margin-top: 5px;
}


.profileSettings{
    margin-top: 10px;
    color: #fff;
    padding: 4px 8px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #1BBAFf;
    margin-bottom: 10px;
    border: none;
}

.verifyEmail{
    color: #fff;
    padding: 4px 8px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #1BBAFf;
    border: none;
}

.profileAvatar{
    width: auto;
    display: flex;
    justify-content: center;
}

.avatarImage{
    margin-left: 37.9px;
    width: 200px;
    height: 200px;
}
.tabOptions{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5px;
    padding:10px;
    width: 80%;
    border-radius: 25px;
    border: 2px solid #02b9d2;
    list-style: none;
}

.buttonBio{
    padding: 12px 24px;
    text-decoration:none;
    border: none;
    color:#FFF;
    text-align:center;
    cursor: pointer;
    background-color: #203079;
    outline: 0;
}

.buttonElection{
    padding: 12px 24px;
    text-decoration:none;
    border: none;
    color:#FFF;
    text-align:center;
    cursor: pointer;
    background-color: #203079;
    outline: 0;
}



.buttonInvites{
    padding: 12px 24px;
    text-decoration:none;
    border: none;
    color:#FFF;
    text-align:center;
    cursor: pointer;
    background-color: #203079;
    outline: 0;
}


@media screen and (max-width: 900px){
    .profileCard{
        display: inline-block;
        position: relative;
        max-width: 500px;
    }
}