table{
    width: 100%;
}

th, td{
    padding: 15px;
    text-align: left;
}

th{
    background-color: #1BBAFf;
    color: #fff;
}

td{
    color: #fff;
}

.viewVoteButton{
    color: #fff;
    padding: 4px 8px;
    border-radius: 25px;
    cursor: pointer;
    background-color: #1BBAFf;
    border: none;
}