@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  background:#1A2A6C;
}
.menuItems{
  display: flex;
  flex: 1;
  list-style: none;
  padding: 0 0 0 40px;
}
.logo{
  color: white;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}

.menuItems li{
  padding: 0 15px;

}

.menuItems li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.menuItems li a:hover{
  color: black;
}

.search{
  display: flex;
  background: whitesmoke;
  min-width: 20%!important;
}

.menuIcon, .searchIcon, .cancelIcon{
  width: 40px;
  color: white;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  cursor: pointer;
  display: none;
}

.menuIcon span, .searchIcon, .cancelIcon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav{
    padding: 0px;
  }
  .logo{
    flex: 2;
    text-align: center;
  }
  .menuItems{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100px;
    left: -100%;
    height: 100px;
    background: indigo;
    transition: left 0.3s ease;
    display: inline-block;
    padding: 10px 50px 0 50px;
    text-align: center;
  }

  .menuItems.active{
    left: 0px;
  }
  .menuItems li{
    line-height: 40px;
    margin: 30px 0;
  }

  .menuItems li a{
    font-size: 20px;
  }
  .search{
    display: none;
  }


}