@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  *{
    margin:0;
    font-family: 'Poppins', sans-serif;
  }
  

  .container{
    min-height: 100vh;
    background: #1A2A6C;
    #background: -webkit-linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);
    #background: linear-gradient(to left, #fdbb2d, #b21f1f, #1a2a6c);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin:0;
    overflow:scroll;
    overflow-x: hidden
  }

  .body{
    text-align: center;
    padding-bottom: 80px;

  }
