.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MenuTemplate{
  background-color:rgba(31,48,121,1);
  width:75%;
  margin:auto;
  margin-top: 120px;

}

.Input {
  background-color: rgba(30, 45, 107, 1);
  width:75%;
  margin:auto;
  overflow: hidden;
}

.social{
  color:white;
  width:50%;
  text-align: center;

}
.TextInput{

  font-size:15px;

}
.flex{
  display: flex;
  width: 100%;
}

.row{
  display: flex;
  flex-direction: column;
  width:50%;
  align-items: center;

}

.locationButton{
  text-align: center;
}

.names{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.TextInput{
  display: flex;
  width: 100%;
  justify-content: center;
}

.Heading{
  text-decoration: underline dodgerblue;
  color:white;
  padding-left: 150px;
  padding-top: 40px;
  font-family: ".SF NS Mono";
}

.Title{
  color: white;
}


.Text{
  color: grey;
}

.oi{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Confirm{
  color: white;
  background-color:purple;
  cursor: pointer;
  padding: 10px;  /* create space inside button */
  text-align: center;
  font-size: 40px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
