.searchContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    margin-top: 40px;

}

.mainSearchBar{
    margin-top:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: center;
    margin-bottom: 20px;
}

.profileResultGrid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-bottom: 20px
}

.searchMessage{
    color: #fff;
}

.organiseVote{
    color: #fff;
}

.organiseButton{
    padding: 10px 20px;
    color: #fff;
    margin-left: 5px;
    text-decoration: none;
    background-color: #6a51ff;
    border-radius: 25px;
    text-align: justify;

}

@media screen and (max-width: 990px) {
    .searchContainer {
        display: inline-block;
        position: relative;
    }
}