

.requestSentNotification h2{
    color: #fff;
}

.requestSentNotification p{
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.bottomOptions{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.bottomOptions button{
    border-color: #fff;
    border-radius: 12px;
    padding: 10px 24px;
    margin-left: 100px;
}