.signUpContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;

}

.sections{
    background-color: #203079;
    padding: 3em 2em 2em 2em;
    display: flex;
    box-shadow: 0 10px 40px -14px rgba(0,0,0,0.25);
    border-radius: 25px;

}

.rightTab{
    height: auto;
    display: flex;
    align-items: center;
    flex: 50%;
    padding: 10px;
    margin-bottom: 10px;
    flex-direction: column;
 }

.leftTab{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 50%;
    padding: 10px;

}

.leftTab h2{
    color: #fff;
    font-weight: bold;
}
.leftTab h2 span{
    color: #6a51ff;
}

.formInputSection{
    display: flex;

    padding: .5em;
    flex: 1;
    flex-direction: column;
    margin-left: auto;
}

.innerInput{
    display: flex;
    justify-content: flex-end;
}

.checkboxSection{
    margin-top: 15px;
}

.signUpForm label{
    color: #fff;
    font-size: 18px;
    margin-right: 5px;
    margin-top: 5px;
}

.signUpForm input{
    box-sizing: border-box;
    padding: 5px;
    background-color: #1F3079;
    border: 2px solid #4440bc ;
    border-radius: 10px;
    color: #fff;
}


.existingMemberLogin{
    color: #fff;
    display: flex;
    align-items: baseline;
    flex: 2;
}

.existingMemberLogin button{
    background-color: #fff;
    border-radius: 8px;
    padding: 5px;
    margin-left: 5px;
}

.formSubmitButton{
    margin: 20px 20px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: #6a51ff;
    border-radius: 8px;
    padding: 10px 20px;
}


/* Form Error Code below to style p element */

.error{
    color: red;
}


@media screen and (max-width: 990px){
    .sections{
        display: inline-block;
        position: relative;
    }
}

